/* .radio-box {
    border-width: 3px;
    border-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;

    color: rgb(75, 37, 87);

    padding-bottom: 30px;
} */

.radio-box .title {
    text-align: center;
    font-size: 1.8em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: rgb(211, 216, 204);
}

/* The container */
.radiobox-label {
    display: block;
    position: relative;
    padding-left: calc(10% + 40px);
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .radiobox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .radiobox-custom {
    margin-left: 10%;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .radiobox-label:hover input ~ .radiobox-custom {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .radiobox-label input:checked ~ .radiobox-custom {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .radiobox-custom:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .radiobox-label input:checked ~ .radiobox-custom:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .radiobox-label .radiobox-custom:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }